* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar {
  background-color: #323232;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 11;
}

.navbar .NavLogofx {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: block;
  text-align: end;
}

.navbar .navbar-collapse {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.navbar .navbar-collapse .navbar-nav {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-collapse .navbar-nav a {
  color: #a4a4a4 !important;
  padding-right: 1.5rem !important;
}

.navbar .navbar-collapse .navbar-nav a:hover {
  color: white !important;
}

.navbar .navbar-collapse .navbar-nav .active {
  color: #e6b70a !important;
}

.mySwiper1 {
  height: calc(100vh - 98px) !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sliderContent {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  height: 300px;
}

.sliderContent .SliderContentImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

.sliderContent .SliderContentImg img {
  width: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sliderContent .underline::after {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  bottom: 75%;
  left: 47%;
  background-color: white;
}

.sliderContent h5 {
  font-size: 26px;
}

.sliderContent h1 {
  font-size: 50px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .sliderContent {
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
    height: auto;
  }
  .sliderContent .SliderContentImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }
  .sliderContent .SliderContentImg img {
    width: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .sliderContent h5 {
    font-size: 16px;
  }
  .sliderContent h1 {
    font-size: 30px;
    font-weight: 400;
  }
}

.dilogueBox {
  background-color: #323232;
  text-align: center;
  padding-bottom: 30px;
}

.dilogueBox h1 {
  color: #e6b70a !important;
  padding: 20px 0;
  letter-spacing: 2px;
}

.dilogueBox p {
  color: #a4a4a4 !important;
  padding-bottom: 10px;
}

.cardSection h5 {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.cardSection h5::after {
  content: "";
  width: 35px;
  height: 3px;
  position: absolute;
  background-color: #f77930;
  bottom: 5px;
  left: 49%;
}

.cardSection .firstCard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  --bg-overlay-color: rgb(255, 255, 255);
  --scale: 1;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: #b0a986 #b0a986 #b0a986 #b0a986;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: 0 4px 10px 0 #d8cccc;
          box-shadow: 0 4px 10px 0 #d8cccc;
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.cardSection .firstCard .card-content p {
  text-align: center;
  margin: 5px 0px 5px 0;
}

.cardSection .firstCard .card-content h3 {
  text-align: center;
}

.cardSection .firstCard .card-content .cardReadBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */