* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;    
}

.navbar {
 background-color: #323232;
 position: sticky;
 width: 100%;
 top: 0;
 z-index: 11;
 .NavLogofx {
     flex: 5;
     display: block;
     text-align: end;
 }
 .navbar-collapse {
     flex: 7;

    .navbar-nav {
        width: 100%;
        justify-content: center;
        a {
            color: #a4a4a4 !important;
            padding-right: 1.5rem !important;
        }
        a:hover {
            color: white !important;
        }
        .active {
            color: #e6b70a !important;
        }
    }
 }
   
}

.mySwiper1 {
    height: calc(100vh - 98px) !important;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sliderContent {
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 50%;
      top: 30%;
      transform: translate(-50%,-50%);
      color: white;
      height: 300px;
      .SliderContentImg {
          display: flex;
          justify-content: center;
          flex: 3;
          position: relative;
        img {
            width: 30px;
            height: fit-content;
        }

      }
      .underline::after{
          content: "";
          width: 30px;
          height: 1px;
          position: absolute;
          bottom: 75%;
          left: 47%;
          background-color: rgb(255, 255, 255);
      }

      h5 {
        font-size: 26px;
    }
    h1 {
        font-size: 50px;
        font-weight: 700;
    }
  }

  @media only screen and (max-width:768px){
    .sliderContent {
        left: 50%;
        top: 60%;
        transform: translate(-50%,-50%);
        color: white;
        height: auto;
        .SliderContentImg {
            display: flex;
            justify-content: center;
            flex: 6;
          img {
              width: 30px;
              height: fit-content;
          }
        }
        h5 {
          font-size: 16px;
      }
      h1 {
          font-size: 30px;
          font-weight: 400;
      }
    }
  
  }

  .dilogueBox {
    background-color: #323232;
    text-align: center;
    padding-bottom: 30px;
    h1{
        color: #e6b70a !important;
        padding: 20px 0;
        letter-spacing: 2px;
    }
    p{
        color: #a4a4a4 !important;
        padding-bottom: 10px;
      
    }
  }


  .cardSection {
      h5 {
          text-align: center;
          padding-top: 20px;
          position: relative;
      }
      h5::after{
        content: "";
        width: 35px;
        height: 3px;
        position: absolute;
        background-color: rgb(247, 121, 48);
        top: 8%;
    left: 49%;
      }
      .firstCard {
          width: fit-content;
        --bg-overlay-color: rgb(255, 255, 255);
        --scale: 1;
        border-width: 0 0 0 0;
        border-style: solid solid solid solid;
        border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
        border-radius: 0 0 0 0;
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
        overflow: hidden;
        transform: translateZ(0);
      }
  }